/* ====== Globale styling ====== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--sec-blue-clr);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--third-blue-clr);
}

:root {
    scroll-behavior: smooth;
    --main-blue-clr: #243866;
    --sec-blue-clr : #24A7DB;
    --third-blue-clr:#0F6FB9;
    --main-black-clr: #161616;
    --gray-bg: #F5F8F9;
    --fast-trans-time: 0.3s;
    --medium-trans-time: 0.5s;
    --main-y-padding: 6rem;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

section:not(:first-of-type) {
    padding-top: var(--main-y-padding);
    padding-bottom: var(--main-y-padding);
}

p {
    color: #474747;
    line-height: 1.8;
}

ul {
    list-style: none;
}

.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue-clr);
    transition: opacity 0.8s, visibility 0.8s;
    z-index: 2000;
}

.pre-loader.hide {
    opacity: 0;
    visibility: hidden;
}

.loader {
    height: 4px;
    width: 130px;
    --c:no-repeat linear-gradient(var(--sec-blue-clr) 0 0);
    background: var(--c),var(--c),#fff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.special-title {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-bottom: 6rem;
    font-size: 2.3rem;
    font-weight: bold;
    font-family: "Aldrich";
    color: var(--main-black-clr);
    word-spacing: 5px;
}

.special-title::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 2px;
    background-color: var(--sec-blue-clr);
}

.scroll-up {
    position: fixed;
    bottom: 25px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--sec-blue-clr);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(70px);
    opacity: 0;
    transition: all var(--fast-trans-time);
    z-index: 100;
}

.scroll-up.show-up-btn {
    transform: translateX(0);
    opacity: 0.9;
}

.scroll-up.show-up-btn:hover {
    opacity: 1;
}

.fade-top {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.9s;
}

.fade-down {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.9s;
}

.fade-top.appear-top,
.fade-down.appear-down {
    transform: translateY(0);
    opacity: 1;
}

.fade-left {
    transform: translateX(-80px);
    opacity: 0;
    transition: all 0.9s;
}

.fade-right {
    transform: translateX(80px);
    opacity: 0;
    transition: all 0.9s;
}

.fade-left.appear-left,
.fade-right.appear-right {
    transform: translateX(0);
    opacity: 1;
}

.slick-dots li button::before {
    font-size: 10px !important;
    color: var(--sec-blue-clr) !important;
    transition: all 0.1s;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover::before {
    opacity: 1 !important;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {  
        width: 1170px;
    }
}

/* ====== Globale styling ====== */

/* ====== Animations ====== */

@keyframes Flashing {
    20% {
        opacity: 1;
    }
    100% {
        width: 130%;
        height: 130%;
        opacity: 0;
    }
}

@keyframes Rotation {
    100% {
        transform: rotate(360deg);
    }
}

/* ====== Animations ====== */