/* ====== NavBar ====== */

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all var(--medium-trans-time);
}

nav .container {
    max-height: 86px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: block;
    height: 70px;
}

nav .logo img {
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul.show-menu {
    height: 305px;
}

nav ul li:not(:last-of-type) {
    margin-right: 1.5rem;
}

nav ul li a {
    display: inline-block;
    position: relative;
    padding: 2rem 0;
    color: #fff;
    font-family: "Aldrich";
    font-weight: 500;
    font-size: 15px;
    transition: all var(--fast-trans-time);
}

nav ul li a::before,
nav ul li a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 3px;
    background-color: var(--sec-blue-clr);
    transition: all var(--fast-trans-time);
}

nav ul li a::before {
    width: 0;
}

nav ul li a.active::before,
nav ul li a:hover::before {
    width: 100%
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--sec-blue-clr);
}

nav .menu-bars {
    display: none;
}

/* ====== NavBar ====== */

/* ====== Acceuil section ====== */

#acceuil {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#acceuil .bg-slider-dots-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#acceuil .bg-slider-dots-container .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(36, 167, 219, 0.4);
    cursor: pointer;
    transition: all var(--fast-trans-time);
}

#acceuil .bg-slider-dots-container .dot:hover,
#acceuil .bg-slider-dots-container .dot.active {
    background-color: var(--sec-blue-clr);
}

#acceuil .backgrounds-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#acceuil .backgrounds-container .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: top center;
    transform: scale(1.1);
    opacity: 0;
    transition: all 1s;
}


#acceuil .backgrounds-container .background.show {
    opacity: 1;
    transform: scale(1);
}

#acceuil .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#acceuil .content {
    width: fit-content;
    margin-top: 5rem;
    border-radius: 10px;
}

#acceuil .content .name {
    margin-bottom: 2rem;
}

#acceuil .content .name h1 {
    color: #fff;
    font-family: "Aldrich";
    font-size: 3rem;
}

#acceuil .content .name h1 span {
    position: relative;
    display: inline-block;
    transform: translateX(-80px);
    opacity: 0;
    animation: Title-Word-Animation 0.8s ease-out forwards;
}

#acceuil .content p {
    margin-bottom: 3rem;
    max-width: 600px;
    color: #fff;
}

#acceuil .button {
    position: relative;
    width: fit-content;
    padding: 0.75rem 1.75rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 9999px;
}

#acceuil .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* ====== Acceuil section ====== */

/* ====== Notre histoire section ====== */

#histoire .container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#histoire .image {
    position: relative;
}

#histoire img:first-of-type {
    width: 430px;
}

#histoire img:last-of-type {
    width: 16%;
    position: absolute;
    top: 30%;
    left: 1%;
    animation: Rotation 7s linear infinite ;
}

#histoire .content {
    margin-bottom: 4rem;
}

#histoire .content .special-title {
    margin: 0 0 4rem;
}

#histoire .content p {
    max-width: calc(100% - 70px);
    font-size: 19px;
    text-align: justify;
}

#histoire .content p span {
    color: var(--main-black-clr);
    font-weight: bold;
}

/* ====== Notre histoire section ====== */

/* ====== Notre mission section ====== */

#mission {
    background-color: var(--gray-bg);
}

#mission .container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#mission .image .circle {
    position: absolute;
    bottom: 7%;
    left: 30%;
    width: 30%;
    height: 26%;
    border-radius: 50%;
    background-color: #24A7DB;
}

#mission .image .circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    background-color: rgba(36, 167, 219, 0.7);
    animation: Flash-1 2.5s  infinite;
}

#mission .image img {
    width: 430px;
}

#mission .content {
    margin-bottom: 4rem;
}

#mission .content .special-title {
    margin: 0 0 4rem;
}

#mission .content p {
    max-width: calc(100% - 70px);
    font-size: 19px;
    text-align: justify;
}

/* ====== Notre mission section ====== */

/* ====== Services section ====== */

#services {
    position: relative;
    background-color: var(--main-blue-clr);
}

#services > img {
    width: 900px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#services .special-title {
    color: #fff;
}

#services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 45px;
}

#services .service {
    position: relative;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#services .service:hover {
    border-color: transparent;
}

#services .service .icone-box {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to top, var(--sec-blue-clr), #2382ca);
    border-radius: 50%;
    transition: all 0.9s;
    z-index: -5;
}

#services .service:hover .icone-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 800px;
}

#services .service svg {
    margin-top: 0.9rem;
    margin-left: 0.9rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #fff;
}

#services .services-container .service h3 {
    margin-bottom: 2rem;
    color: #fff;
    font-family: "Aldrich";
    font-weight: 500;
}

.services-container .service p {
    color: #c9c9c9;
    transition: all var(--medium-trans-time);
}

#services .service:hover p {
    color: #fff;
}

/* ====== Services section ====== */

/* ====== Références section ====== */

#références {
    padding-bottom: 0;
}

#références .container .slider {
    cursor: grab;
}
#références .container .slider:active {
    cursor: grabbing;
}

#références .container .slider img {
    width: 90px;
}

/* ====== Références section ====== */

/* ====== Partenaires section ====== */

#partenaires .partenaires-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#partenaires .special-title {
    margin-bottom: 5rem;
}

#partenaires .partenaires-container a img {
    max-width: 130px;
    filter: grayscale(1);
    transition: filter var(--fast-trans-time);
}

#partenaires .partenaires-container a img:hover {
    filter: grayscale(0);
}

/* ====== Partenaires section ====== */

/* ====== Contactez-Nous section ====== */

.title-background {
    position: relative;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    background-image: url(../images/Contactez-nous/contact-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.title-background .headings-box {
    padding-bottom: 8rem;
}

.title-background .special-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.title-background .special-title .line {
    background-color: #fff;
}

.title-background h3 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.contactez-nous-section {
    background-color: var(--gray-bg);
}

.contactez-nous-section .container {
    position: relative;
}

.contactez-nous-section .info-container {
    max-width: 100%;
    position: absolute;
    top: -13rem;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contactez-nous-section .info {
    width: 25%;
    padding: 4rem 3rem;
    background-color: #fff;
    text-align: center;
    transition: all 0.2;
}

.contactez-nous-section .info:hover {
    background-color: var(--third-blue-clr);
}

.contactez-nous-section .info:not(:last-of-type) {
    border-right: 1px solid #e6e6e6;
}

.contactez-nous-section .info:last-of-type {
    padding: 4rem 1rem;
}

.contactez-nous-section .info svg {
    margin-bottom: 1rem;
    color: var(--sec-blue-clr);
    font-size: 3.5rem;
    transition: all 0.2;
}

.contactez-nous-section .info h3 {
    margin-bottom: 0.25rem;
    color: #474747;
    font-weight: 500;
    transition: all 0.2;
}

.contactez-nous-section .info p {
    font-size: 15px;
    transition: all 0.2;
}

.contactez-nous-section .info:hover svg,
.contactez-nous-section .info:hover h3,
.contactez-nous-section .info:hover p {
    color: #fff;
}

.contactez-nous-section .info:first-of-type p {
    font-size: 13px;
}

.contactez-nous-section .info:last-of-type p {
    font-size: 12px;
}

.contactez-nous-section .formula {
    padding-top: 12rem;
}

.contactez-nous-section .formula h1 {
    max-width: 800px;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--main-black-clr);
    text-align: center;
    font-weight: 500;
    text-align: center;
}

.contactez-nous-section .formula form {
    margin: 0 8rem;
}

.contactez-nous-section .formula .inputs-container {
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.contactez-nous-section .formula .inputs-container > div {
    padding: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactez-nous-section .formula .inputs-container > div:last-of-type {
    width: 100%;
}

.contactez-nous-section .formula .inputs-container > div label {
    width: fit-content;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: var(--main-black-clr);
    font-weight: 300;
    font-size: 13px;
}
.contactez-nous-section .formula .inputs-container > div input,
.contactez-nous-section .formula .inputs-container > div textarea {
    padding: 0.75rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 9999px;
    transition: all var(--fast-trans-time);
}

.contactez-nous-section .formula .inputs-container > div textarea {
    border-radius: 15px;
}

.contactez-nous-section .formula .inputs-container > div input:hover,
.contactez-nous-section .formula .inputs-container > div input:focus,
.contactez-nous-section .formula .inputs-container > div textarea:hover,
.contactez-nous-section .formula .inputs-container > div textarea:focus {
    border-color: rgba(15, 111, 185, 0.7);
}

.contactez-nous-section .formula .inputs-container > div textarea {
    resize: none;
}

.contactez-nous-section .formula button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem 1.75rem;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--sec-blue-clr);
    border-radius: 9999px;
    cursor: pointer;
}

.contactez-nous-section .formula button:hover {
    background-color: var(--third-blue-clr);
}

.contactez-nous-section .formula button svg {
    font-size: 1rem;
}

/* ====== Contactez-Nous section ====== */

/* ====== Footer ====== */

footer {
    background-color: var(--main-blue-clr);
}

footer .upper-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .upper-section .content {
    background-image: url(../images/Services/electronic-shape-left.png);
    background-size: cover;
    flex-grow: 1;
}

footer .upper-section h3 {
    width: fit-content;
    position: relative;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

footer .upper-section .content p {
    max-width: 350px;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
}

footer .upper-section .links-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

footer .upper-section .links-container ul li a {
    display: inline-block;
    color: #c9c9c9;
    font-weight: 300;
    font-size: 15px;
    padding: 0.25rem 0;
    transition: all var(--fast-trans-time);
}

footer .upper-section .links-container .social-media ul {
    display: flex;
}

footer .upper-section .links-container .social-media ul li:not(:first-of-type) {
    margin-left: 0.5rem;
    margin-left: 0.5rem;
}

footer .upper-section .links-container .social-media ul li a {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
}

footer .upper-section .links-container ul li a:hover {
    color: #fff;
    background-color: var(--bg-clr);
}

footer .lower-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

footer .lower-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .lower-section .logo {
    display: block;
    height: 60px;
}

footer .lower-section .logo img {
    height: 100%;
}

footer .lower-section p {
    color: #fff;
    font-weight: 200;
    font-size: 15px;
}

/* ====== Footer ====== */