/* ====== NavBar ====== */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1000;
}

nav .container {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: block;
    height: 70px;
}

nav .logo img {
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul.show-menu {
    height: 263px;
}

nav ul li:not(:last-of-type) {
    margin-right: 1.5rem;
}

nav ul li a {
    display: inline-block;
    position: relative;
    padding: 0.5rem 0;
    color: #555C55;
    font-family: "Aldrich";
    font-weight: 500;
    font-size: 15px;
    transition: all var(--fast-trans-time);
}

nav ul li a::before,
nav ul li a.active::before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 3px;
    background-color: var(--sec-blue-clr);
    transition: all var(--fast-trans-time);
}

nav ul li a::before {
    width: 0;
}

nav ul li a.active::before,
nav ul li a:hover::before {
    width: 100%
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--sec-blue-clr);
}

nav .menu-bars {
    display: none;
}

/* ====== NavBar ====== */

/* ====== Acceuil section ====== */

#acceuil {
    position: relative;
    height: 100vh;
    background-image: url(../images/Acceuil/background.png);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#acceuil .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#acceuil .content {
    width: fit-content;
    margin-top: 5rem;
    border-radius: 10px;
}

#acceuil .content .name {
    margin-bottom: 2rem;
}

#acceuil .content .name h1 {
    width: 100%;
    color: #fff;
    font-family: "Aldrich";
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
}

#acceuil .content .name h1.animate {
    border-right: 4px solid;
    animation: typing 0.9s steps(18, end) 0.7s 1 normal both, cursor 800ms infinite;
}

#acceuil .content p {
    margin-bottom: 3rem;
    max-width: 600px;
    color: #fff;
}

#acceuil .button {
    width: fit-content;
    padding: 0.75rem 1.75rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 9999px;
    transition: all var(--fast-trans-time);
}

#acceuil .button:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

/* ====== Acceuil section ====== */

/* ====== Notre histoire section ====== */

#histoire .container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#histoire img {
    width: 450px;
}

#histoire .content {
    margin-bottom: 4rem;
}

#histoire .content .special-title {
    margin-bottom: 4rem;
    margin-right: 0;
    margin-left: 0;
}

#histoire .content p {
    max-width: calc(100% - 70px);
    font-size: 19px;
    text-align: justify;
}

#histoire .content p span {
    color: var(--main-black-clr);
    font-size: 19px;
    font-weight: bold;
}

/* ====== Notre histoire section ====== */

/* ====== Services section ====== */

#services {
    position: relative;
    background-color: var(--main-blue-clr);
}

#services > img {
    position: absolute;
    bottom: 0;
    left: 0;
    /* z-index: 100; */
}

#services .special-title {
    color: #fff;
}

#services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 45px;
}

#services .service {
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: all var(--fast-trans-time);
}

#services .service:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

#services .service .icone-box {
    width: 60px;
    height: 60px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, var(--sec-blue-clr), #2382ca);
    border-radius: 5px;
}

#services .service .icone-box i {
    font-size: 2rem;
    color: #fff;
    /* margin-top: 13px; */
}

#services .services-container .service h3 {
    margin-bottom: 2rem;
    color: #fff;
    font-family: "Aldrich";
    font-weight: 500;
}

.services-container .service p {
    color: #c9c9c9;
}

/* ====== Services section ====== */

/* ====== Références section ====== */

#références .container .slider {
    cursor: grab;
}
#références .container .slider:active {
    cursor: grabbing;
}

#références .container .slider img {
    width: 90px;
}

/* ====== Références section ====== */

/* ====== Partenaires section ====== */

#partenaires {
    padding-top: 0;
}

#partenaires .partenaires-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#partenaires .special-title {
    margin-bottom: 5rem;
}

#partenaires .partenaires-container a img {
    max-width: 130px;
    filter: grayscale(1);
    transition: filter var(--fast-trans-time);
}

#partenaires .partenaires-container a img:hover {
    filter: grayscale(0);
}

/* ====== Partenaires section ====== */

/* ====== Contactez-Nous section ====== */

.title-background {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    background-image: url(../images/Contactez-nous/contact-background.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.title-background .headings-box {
    padding-bottom: 8rem;
}

.title-background .special-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.title-background .special-title::before {
    background-color: #fff;
}

.title-background h3 {
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
}

.contactez-nous .container {
    position: relative;
}

.contactez-nous .info-container {
    width: 100%;
    position: absolute;
    top: -13rem;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
}

.contactez-nous .info {
    width: 33.33%;
    padding: 6rem 0;
    text-align: center;
}

.contactez-nous .info:not(:last-of-type) {
    border-right: 1px solid #e6e6e6;
}

.contactez-nous .info i {
    margin-bottom: 1.6rem;
    color: var(--sec-blue-clr);
    font-size: 2rem;
}

.contactez-nous .info h3 {
    margin-bottom: 0.25rem;
    color: #474747;
    font-weight: 500;
}

.contactez-nous .formula {
    padding-top: 15rem;
}

.contactez-nous .formula h1 {
    max-width: 800px;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--main-black-clr);
    text-align: center;
    font-weight: 500;
    text-align: center;
}

.contactez-nous .formula form {
    margin: 0 8rem;
}

.contactez-nous .formula .inputs-container {
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.contactez-nous .formula .inputs-container > div {
    padding: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactez-nous .formula .inputs-container > div:last-of-type {
    width: 100%;
}

.contactez-nous .formula .inputs-container > div label {
    margin-bottom: 0.5rem;
    color: var(--main-black-clr);
    font-weight: 300;
    font-size: 13px;
}
.contactez-nous .formula .inputs-container > div input,
.contactez-nous .formula .inputs-container > div textarea {
    padding: 0.75rem;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    transition: all var(--fast-trans-time);
}

.contactez-nous .formula .inputs-container > div input:hover,
.contactez-nous .formula .inputs-container > div input:focus,
.contactez-nous .formula .inputs-container > div textarea:hover,
.contactez-nous .formula .inputs-container > div textarea:focus {
    border-color: rgba(15, 111, 185, 0.7);
}

.contactez-nous .formula .inputs-container > div textarea {
    resize: none;
}

.contactez-nous .formula button {
    display: block;
    margin: 0 auto;
    padding: 1rem 1.75rem;
    outline: none;
    border: none;
    color: #fff;
    background-color: #24A7DB;
    border-radius: 9999px;
    transition: all var(--fast-trans-time);
    cursor: pointer;
}

.contactez-nous .formula button:hover {
    background-color: var(--sec-blue-clr);
}

.contactez-nous .formula button i {
    margin-right: 0.5rem;
}
/* ====== Contactez-Nous section ====== */